@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;1,300;1,400;1,500&display=swap');

:root {
    --text-color: #000000;
    --text-background-color: #fff;
    --border-color: #000;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 22px;
    color: var(--text-color);
}

#mainbox {
    width: 90vmin;
    height: 60vmin;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-size: cover;
    border: 0.125vmin solid var(--border-color);
}

#textbox {
    border: 0.125vmin solid var(--border-color);
    background: var(--text-background-color);

    width: 95%;
    height: 20%;
    padding: 0.5rem;

    overflow: auto;
    word-break: break-word;

    margin: auto;
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%, 0)
}

#optionsbox {
    color: blue;
}

#options>div:hover {
    color: red;
    cursor: pointer;
}

#spritebox {
    max-width: 45%;

    z-index: -1;
    position: absolute;
    bottom: 20%;
}

.rightalign {
    right: -7%;
    bottom: -5%;
}

.leftalign {
    left: 5%;
}

#spritebox img {
    max-width: 100%;
}

#namebox {
    background: var(--text-background-color);
    padding: 0.5rem;
    border: 0.125vmin solid var(--border-color);

    position: absolute;
    bottom: 26.5%;
    left: 1.5%
}